@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Cliente CRUD!</h1>
    <p>Este foi um projeto desafio enviado pela empresa TDSA.</p>
</div>
